@tailwind base;
@tailwind components;
@tailwind utilities;

.shaded {
  background-color: gray;
}

.notShaded {
  background-color: white;
}

.calendar {
  border: 2px solid #ccc;
  border-radius: 10px;
}

